body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: #f4f4f4;

}


.contenedor {

    width: 90%;

    max-width: 700px;

    margin: 50px auto;

    background: white;

    padding: 25px;

    border-radius: 10px;

}


h1 {

    text-align: center;

}


form {

    display:flex;

    gap:10px;

    margin-bottom:25px;

}


input {

    flex:1;

    padding:10px;

}


button {

    padding:10px;

    cursor:pointer;

}


article {

    display:flex;

    align-items:center;

    gap:10px;

    border-bottom:1px solid #ddd;

    padding:10px 0;

}


article span {

    flex:1;

}


.completada {

    text-decoration:line-through;

}